.case-main-container{
  
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e9f6fb;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 90px;
}
.case-container{
  display: flex;
  gap: 50px;
  align-items: center;
  flex-direction: column;
}
.menu-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}
.case-menu-button{
  background-color: white !important;
  padding: 8px 10px !important;
  border-radius: 10px;
  color: black !important;
}
.case-menu-button.active{
  background: black !important;
  color: white !important;
}
.cases-heading{
  font-size: 30px !important;
  font-weight: 900 !important;
  margin-bottom: 20px !important;
}
.case-base{
  display: flex;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
}
.case-card{
  display: flex;
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgb(0, 0, 0);
}
.case-card-content-left{
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: white;
  justify-content: center;
  gap: 10px;
}
.case-desc{
  font-size: 24px !important;
  font-weight: 900 !important;
}

.case-features-container{
  display: flex; 
  flex-direction: row;
  gap: 10px;
}
.case-feature{
  font-size: 8px !important;
  font-weight: 600 !important;
  padding: 3px 10px ;
  background-color: rgba(255, 255, 255, 0.438) !important;
  border-radius: 20px;
  text-transform: uppercase;
}
.case-card-icon{
  width: 200px;
}
.case-company-desc{
  font-size: 14px !important;
}
.case-study-btn{
  width: fit-content !important;

}
.case-card-content-right{
  height: 100%;
}
.case-card-image{
  height: 100%;
  padding-right: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .case-card {
    flex-direction: column;
  }
}