body::-webkit-scrollbar{
  display: none;
  flex-direction: column-reverse;
}

.textinput .MuiOutlinedInput-root {
  font-size: 20px;
  color: white;
  font-family: 'Gilroy-ExtraBold' ,'Poppins',monospace;
  border: 4px solid white;
  border-radius: 10px;
}
.textinput .MuiOutlinedInput-root:hover{
  border: 5px solid white;
  border-radius: 10px;
}
.textinput .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
  border: none;
}
.textinput .MuiInputLabel-root{
  color: white;
  font-size: 20px;
  background-color: blue;
  padding-right:10px ;
  padding-left: 10px;
}
.textinput .MuiInputLabel-root.Mui-focused{
  color: white;
  font-size: 20px;
}
