.app,.content{
    height: 100%;
    width: 100%;
    font-family: 'Source Code Pro', sans-serif;
}
.app{
    @apply flex relative;
}
::-webkit-scrollbar{
    @apply w-[10px];
}
/* Track */
::-webkit-scrollbar-track{
    @apply bg-scrollbg
}
/* Handle */
::-webkit-scrollbar-thumb{
    @apply bg-gray-500
}
::-webkit-scrollbar-track:hover{
    @apply bg-gray-700
}